a {
  text-decoration: none;
  color: #fff;
}

a:active, a:hover {
  color: lightgray;
}

.navigation-items {
  list-style-type: none;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}
