<section class="new-training" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
    <mat-card fxFlex.xs="200px" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center">Time to start a workout</mat-card-title>
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field *ngIf="!(isLoading | async) && exercises$ | async">
          <mat-select required ngModel name="exercise" placeholder="Time to start a workout!">
            <mat-option *ngFor="let exercise of exercises$ | async" [value]="exercise.id">
              {{exercise.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-spinner *ngIf="isLoading | async"></mat-spinner>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center" *ngIf="!(isLoading | async)">
        <button *ngIf="exercises$ | async" mat-raised-button color="warn" type="submit" [disabled]="f.invalid">Start</button>
        <button *ngIf="!(exercises$ | async)" mat-raised-button color="warn" type="submit" (click)="fetchExercises()">Fetch again
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
